@use './base/reset';
@use './layouts/default';
@use './layouts/error';
@use './components/base/button';
@use './components/base/icon';
@use './components/base/card';
@use './components/about/about-page';
@use './components/layout/app-header';
@use './components/layout/app-footer';
@use './components/home/home-page';
@use './components/notes/notes-index-page';
@use './components/posts/posts-page';
@use './components/notes/notes-category-page';
@use './components/error/error-page';

:root {
  color-scheme: light;
  font-family:
    'Pretendard', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  background: #ffffff;
  color: #171c20;
}

html,
body,
#__nuxt {
  overscroll-behavior-y: none;
}

body {
  background: #ffffff;
}
